{% extends "base.html.twig" %}

{% block title %}Search results for "{{ query }}"{% endblock %}

{% block body %}
  <h1>
    Search results for "{{ query }}"
  </h1>
  <div class="row">
    {% for headshot in headshots %}
      <div class="col-lg-3 col-md-4 col-6">
        <div class="card mb-3 mx-auto">
          <a href="https://s3.amazonaws.com/{{ imageUrlInfix }}{{ headshot.filename }}">
            <img src="https://imgproxy.sportsarchive.net/sig/fit/300/0/ce/0/plain/s3://{{ imageUrlInfix }}{{ headshot.filename }}" class="card-img-top" alt="{{ headshot.personName }} photo">
          </a>
          <div class="card-body">
            <h5 class="card-title">
              {{- headshot.personName -}}
              {%- if headshot.jerseyNumber -%}
                <span class="text-muted float-end">&nbsp;#{{ headshot.jerseyNumber }}</span>
              {%- endif -%}
            </h5>
            <p class="card-text">
              {{- headshot.title -}}
            </p>
            <h6 class="card-subtitle mb-2">
              <a href="/rosters/{{ headshot.roster.id }}">{{ headshot.roster.year }} {{ headshot.roster.teamName }}</a>
            </h6>
            {% if is_granted('ROLE_ADMIN') %}
              <a href="/headshots/{{ headshot.id }}/edit" class="btn btn-sm btn-info">
                <i class="fas fa-pen"></i>
              </a>
              <a href="/headshots/{{ headshot.id }}/delete" class="btn btn-sm btn-danger">
                <i class="fas fa-trash-alt"></i>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    {% else %}
      <p class="lead">No results found.</p>
    {% endfor %}
  </div>
  <p>
    These headshots were obtained directly from league and team sources, and are provided here as-is. Some people may be missing; some people may be included who were not actually on the roster; other errors may exist. If you spot a mistake, feel free to <a href="mailto:haydenschiff@gmail.com">email me</a>.
  </p>
{% endblock %}
