{% extends "base.html.twig" %}

{% block title %}{{ team.name }} {{ roster.year }} roster – edit headshot{% endblock %}

{% block body %}
  <h1>
    <a href="/teams/{{ team.slug }}">{{ team.name }}</a>
    <a href="/teams/{{ team.slug }}/{{ roster.year }}">{{ roster.year }} roster</a>
    – edit headshot
  </h1>
  {{ form(form) }}
{% endblock %}
