{% extends "base.html.twig" %}

{% block title %}{{ roster.year }} {{ team.name }} roster{% endblock %}

{% block body %}
  <h1>
    {{ roster.year }}
    <a href="/teams/{{ team.slug }}">{{ team.name }}</a>
    roster
  </h1>
  {% if is_granted('ROLE_ADMIN') %}
    <a href="/teams/{{ team.slug }}/{{ roster.year }}/new-headshot" class="btn btn-success mb-3">Create new headshot</a>
  {% endif %}
  <div class="row">
    {% for headshot in headshots %}
      <div class="col">
        <div class="card" style="width:18rem; margin-left:auto; margin-right:auto;">
          <img src="{{ imageUrlPrefix }}{{ headshot.filename }}" class="card-img-top" alt="{{ headshot.personName }} photo">
          <div class="card-body">
            <h5 class="card-title">
              {{ headshot.personName }}
              <span class="text-muted float-end">#{{ headshot.jerseyNumber }}</span>
            </h5>
          </div>
        </div>
      </div>
    {% else %}
      <p class="lead">No headshots found.</p>
    {% endfor %}
  </div>
{% endblock %}
