{% extends "base.html.twig" %}

{% block title %}{{ roster.year }} {{ team.name }} roster{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/dropzone.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
  <h1>
    <a href="/teams/{{ team.slug }}">{{ team.name }}</a>
    {{ roster.year }} roster
  </h1>
  {% if is_granted('ROLE_ADMIN') %}
    <p>
      <a href="/teams/{{ team.slug }}/{{ roster.year }}/new-headshot" class="btn btn-success">Add headshot manually</a>
      or drag headshots below.
    </p>

    <form action="{{ oneup_uploader_endpoint('headshots') }}" class="dropzone mb-3" id="headshotDropzone">
      <input type="hidden" name="rosterId" value="{{ roster.id }}">
    </form>
  {% endif %}
  {% set roles = {
    'player': 'Players',
    'staff': 'Staff'
  }
  %}
  {% for role,role_title in roles %}
    <h2>{{ role_title }}</h2>
    <div class="row">
      {% set hasPrinted = false %}
      {% for headshot in headshots %}
        {% if headshot.role == role %}
          {% set hasPrinted = true %}
          <div class="col-lg-3 col-md-4 col-6">
            <div class="card mb-3" style="margin-left:auto; margin-right:auto;">
              <a href="https://s3.amazonaws.com/{{ imageUrlInfix }}{{ headshot.filename }}">
                <img src="https://imgproxy.sportsarchive.net/sig/fit/300/0/ce/0/plain/s3://{{ imageUrlInfix }}{{ headshot.filename }}" class="card-img-top" alt="{{ headshot.personName }} photo">
              </a>
              <div class="card-body">
                <h5 class="card-title">
                  {{ headshot.personName }}
                  {% if headshot.jerseyNumber %}
                    <span class="text-muted float-end">#{{ headshot.jerseyNumber }}</span>
                  {% endif %}
                </h5>
                {% if is_granted('ROLE_ADMIN') %}
                  <a href="/teams/{{ team.slug }}/{{ roster.year }}/edit-headshot/{{ headshot.id }}" class="btn btn-sm btn-primary">Edit</a>
                  <a href="/teams/{{ team.slug }}/{{ roster.year }}/delete-headshot/{{ headshot.id }}" class="btn btn-sm btn-danger">Delete</a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      {% if hasPrinted == false %}
        <p class="lead">No headshots found.</p>
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/dropzone.js') }}"></script>
<script>
Dropzone.options.headshotDropzone = {
  maxFilesize: 50, // MB
  acceptedFiles: "image/*"
};
</script>
{% endblock %}
