{% extends "base.html.twig" %}

{% block title %}{{ roster.year }} {{ roster.teamName }} roster{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/dropzone.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
  <h1>
    <a href="/teams/{{ team.slug }}">{{ roster.teamName }}</a>
    {{ roster.year }} roster
  </h1>
  {% if is_granted('ROLE_ADMIN') %}
    <p>
      <a href="/teams/{{ team.slug }}/{{ roster.year }}/new-headshot" class="btn btn-sm btn-success">
        <i class="fas fa-upload"></i>
        Add headshot manually
      </a>
      or drag headshots below.
    </p>

    <form action="{{ oneup_uploader_endpoint('headshots') }}" class="dropzone mb-3" id="headshotDropzone">
      <input type="hidden" name="rosterId" value="{{ roster.id }}">
    </form>
  {% endif %}
  {% set roles = {
    'player': 'Players',
    'staff': 'Staff'
  }
  %}
  {% for role,role_title in roles %}
    <h2>{{ role_title }}</h2>
    <div class="row">
      {% set hasPrinted = false %}
      {% for headshot in headshots %}
        {% if headshot.role == role %}
          {% set hasPrinted = true %}
          <div class="col-lg-3 col-md-4 col-6">
            <div class="card mb-3 mx-auto">
              <a href="https://s3.amazonaws.com/{{ imageUrlInfix }}{{ headshot.filename }}">
                <img src="https://imgproxy.sportsarchive.net/sig/fit/300/0/ce/0/plain/s3://{{ imageUrlInfix }}{{ headshot.filename }}" class="card-img-top" alt="{{ headshot.personName }} photo">
              </a>
              <div class="card-body">
                <h5 class="card-title">
                  {{- headshot.personName -}}
                  {%- if headshot.jerseyNumber -%}
                    <span class="text-muted float-end">&nbsp;#{{ headshot.jerseyNumber }}</span>
                  {%- endif -%}
                </h5>
                <p class="card-text">
                  {{- headshot.title -}}
                </p>
                <a href="/search?q={{ headshot.personName | url_encode }}" class="btn btn-sm btn-primary">
                  <i class="fas fa-search"></i> Search
                </a>
                {% if is_granted('ROLE_ADMIN') %}
                  <a href="/headshots/{{ headshot.id }}/edit" class="btn btn-sm btn-primary">
                    <i class="fas fa-pen"></i>
                  </a>
                  <a href="/headshots/{{ headshot.id }}/delete" class="btn btn-sm btn-danger">
                    <i class="fas fa-trash-alt"></i>
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      {% if hasPrinted == false %}
        <p class="lead">No headshots found.</p>
      {% endif %}
    </div>
  {% endfor %}
  <p>
    These headshots were obtained directly from league and team sources, and are provided here as-is. Some people may be missing; some people may be included who were not actually on the roster; other errors may exist. If you spot a mistake, feel free to <a href="mailto:haydenschiff@gmail.com">email me</a>.
  </p>
{% endblock %}

{% block javascripts %}
  {% if is_granted('ROLE_ADMIN') %}
    <script type="text/javascript" src="{{ asset('js/dropzone.js') }}"></script>
    <script>
    Dropzone.options.headshotDropzone = {
      maxFilesize: 50, // MB
      acceptedFiles: "image/*"
    };
    </script>
  {% endif %}
{% endblock %}
