{% extends "base.html.twig" %}

{% block title %}Edit team{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('teamEdit') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('teamEdit') }}
{% endblock %}

{% block body %}
  <h1>Edit team</h1>
  {{ form(form) }}
{% endblock %}
