{% extends "base.html.twig" %}

{% block title %}{{ team.name }}{% endblock %}

{% block body %}
  <div class="float-md-end text-md-center" style="font-size:32px">
    <img src="https://sportsarchive-team-logos.s3.amazonaws.com/{{ team.slug }}.svg" class="mb-2" style="height:200px; display:block" />
    {% if team.country %}
      <img src="/images/flags/{{ team.country }}.svg" height="32" title="{{ team.countryName }}">
    {% endif %}
    {% if team.sport %}
      {% set sportIcons = {
        'soccer': 'futbol',
        'baseball': 'baseball-ball',
        'basketball': 'basketball-ball',
        'football': 'football-ball',
        'hockey': 'hockey-puck'
      }
      %}
      <i class="fas fa-{{ sportIcons[team.sport] }}" title="{{ team.sport|capitalize }}"></i>
    {% endif %}
    {% if team.gender %}
      {% set genderIcons = {
        'men': 'mars',
        'women': 'venus',
      }
      %}
      <i class="fas fa-{{ genderIcons[team.gender] }}" title="{{ team.gender|capitalize }}"></i>
    {% endif %}
  </div>
  <h1>{{ team.name }}</h1>
  {% if is_granted('ROLE_ADMIN') %}
    <a href="/teams/{{ team.slug }}/edit" class="btn btn-sm btn-primary mb-3">
      <i class="fas fa-pen"></i>
      Edit team
    </a>
  {% endif %}
  <div class="mb-2">
    {% if team.sport or team.gender or team.country %}
      <div>
        {% if team.gender %}
          {% set genderSymbols = {
            'men': 'Men\'s',
            'women': 'Women\'s',
          }
          %}
          {{ genderSymbols[team.gender] }}
        {% endif %}
        {{ team.sport }} team
        {% if team.country %}
          from {{ team.countryName }}
        {% endif %}
      </div>
    {% endif %}
    {% if team.startYear or team.endYear %}
      <div>Played {{ team.startYear }}–{{ team.endYear }}</div>
    {% endif %}
    {% if team.website %}
      <div>Website: <a href="{{ team.website }}" target="_blank">{{ team.websitePretty }}</a></div>
    {% endif %}
  </div>

  <h2>Rosters</h2>
  {% if is_granted('ROLE_ADMIN') %}
    <a href="/teams/{{ team.slug }}/new-roster" class="btn btn-sm btn-success mb-3">
      <i class="fas fa-plus"></i>
      Create new roster
    </a>
  {% endif %}
  <ul>
    {% for roster in rosters %}
      <li>
        <a href="/teams/{{ team.slug }}/{{ roster.year }}">{{ roster.year }}</a>
        {% if is_granted('ROLE_ADMIN') %}
          <a href="/teams/{{ team.slug }}/{{ roster.year }}/edit-roster" title="Edit"><i class="fas fa-pen"></i></a>
        {% endif %}
      </li>
    {% else %}
      <p class="lead">None yet!</p>
    {% endfor %}
  </ul>

  <h2>Documents</h2>
  {% if is_granted('ROLE_ADMIN') %}
    <a href="/teams/{{ team.slug }}/new-document" class="btn btn-sm btn-success mb-3">
      <i class="fas fa-plus"></i>
      Create new document
    </a>
  {% endif %}
  {% set currentDocumentCategory = '' %}
  {% for document in documents %}
    {% if currentDocumentCategory != document.category %}
      {% if currentDocumentCategory != '' %}</ul>{% endif %}
      {% set currentDocumentCategory = document.category %}
      <h3>{{ document.category|replace({'-': ' '})|capitalize }}</h3>
      <ul>
    {% endif %}
    <li>
      <a href="https://s3.amazonaws.com/{{ documentUrlInfix }}{{ document.filePath }}">{{ document.title }}</a>
      {% if is_granted('ROLE_ADMIN') %}
        <a href="/documents/{{ document.id }}/edit" title="Edit"><i class="fas fa-pen"></i></a>
        <a href="/documents/{{ document.id }}/delete" class="text-danger" title="Delete"><i class="fas fa-trash-alt"></i></a>
      {% endif %}
    </li>
  {% else %}
    <p class="lead">None yet!</p>
  {% endfor %}
  {% if documents %}</ul>{% endif %}
{% endblock %}
