{% extends "base.html.twig" %}

{% block title %}Teams{% endblock %}

{% block stylesheets %}
<style>
.team:not(.show-sport),
.team:not(.show-country),
.team:not(.show-gender),
.team:not(.show-active) {
  display:none;
}
</style>
{% endblock %}

{% block body %}
  <h1>
    Teams
  </h1>
  {% if is_granted('ROLE_ADMIN') %}
    <a href="/teams/new" class="btn btn-sm btn-success mb-3">
      <i class="fas fa-plus"></i>
      Create new team
    </a>
  {% endif %}
  <p>Showing <span id="teamCount">{{ teams|length }}</span> of {{ teams|length }} teams</p>
  <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mb-2 me-2" role="group" aria-label="Sport">
      <button type="button" class="btn btn-secondary filter-sport active">All</button>
      <button type="button" class="btn btn-secondary filter-sport" data-filter="soccer" title="Soccer">
        <i class="fas fa-futbol"></i>
      </button>
      <button type="button" class="btn btn-secondary filter-sport" data-filter="baseball" title="Baseball">
        <i class="fas fa-baseball-ball"></i>
      </button>
      <button type="button" class="btn btn-secondary filter-sport" data-filter="basketball" title="Basketball">
        <i class="fas fa-basketball-ball"></i>
      </button>
      <button type="button" class="btn btn-secondary filter-sport" data-filter="football" title="Football">
        <i class="fas fa-football-ball"></i>
      </button>
      <button type="button" class="btn btn-secondary filter-sport" data-filter="hockey" title="Hockey">
        <i class="fas fa-hockey-puck"></i>
      </button>
    </div>
    <div class="btn-group mb-2 me-2" role="group" aria-label="Country">
      <button type="button" class="btn btn-secondary filter-country active">All</button>
      <button type="button" class="btn btn-secondary filter-country" data-filter="US" title="United States">
        <img src="/images/flags/US.svg" height="20">
      </button>
      <button type="button" class="btn btn-secondary filter-country" data-filter="CA" title="Canada">
        <img src="/images/flags/CA.svg" height="20">
      </button>
    </div>
    <div class="btn-group mb-2 me-2" role="group" aria-label="Gender">
      <button type="button" class="btn btn-secondary filter-gender active">
        All
      </button>
      <button type="button" class="btn btn-secondary filter-gender" data-filter="men">
        Men's
      </button>
      <button type="button" class="btn btn-secondary filter-gender" data-filter="women">
        Women's
      </button>
    </div>
    <div class="btn-group mb-2 me-2" role="group" aria-label="Activeness">
      <button type="button" class="btn btn-secondary filter-active active">
        All
      </button>
      <button type="button" class="btn btn-secondary filter-active" data-filter="true">
        Active
      </button>
      <button type="button" class="btn btn-secondary filter-active" data-filter="false">
        Defunct
      </button>
    </div>
  </div>
  <div class="row">
    <p id="noTeams" class="lead d-none">No teams found.</p>
    {% for team in teams %}
      <div class="col-xl-2 col-md-3 col-6 text-center mb-5 team show-sport show-country show-gender show-active" data-sport="{{ team.sport }}" data-country="{{ team.country }}" data-gender="{{ team.gender }}" data-active="{{ team.endYear ? 'false' : 'true' }}">
        <a href="/teams/{{ team.slug }}">
          <img src="https://sportsarchive-team-logos.s3.amazonaws.com/{{ team.slug }}.svg" style="height:100px; max-width:130px" class="mb-1 mx-auto d-block" alt="{{ team.name }} logo" />
          {{ team.name -}}
        </a>
        {% if is_granted('ROLE_ADMIN') %}
          <a href="/teams/{{ team.slug }}/edit" title="Edit">
            <i class="fas fa-pen"></i>
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block javascripts %}
<script>
function handleFilterClick(button, filterType) {
  // highlight only this button
  $('.filter-'+filterType).removeClass("active");
  $(button).addClass("active");

  // update show classes on teams
  var filter = $(button).attr('data-filter');
  if (typeof filter === 'undefined') {
    $('.team').addClass('show-'+filterType);
  } else {
    $('.team').removeClass('show-'+filterType);
    $('.team[data-'+filterType+'='+filter+']').addClass('show-'+filterType);
  }

  // update team count
  var count = $('.team.show-sport.show-country.show-gender.show-active').length;
  $('#teamCount').text(count);
  if (count == 0) {
    $('#noTeams').removeClass('d-none');
  } else {
    $('#noTeams').addClass('d-none');
  }
}

$('.filter-sport').click(function() {
  handleFilterClick(this, 'sport');
});
$('.filter-country').click(function() {
  handleFilterClick(this, 'country');
});
$('.filter-gender').click(function() {
  handleFilterClick(this, 'gender');
});
$('.filter-active').click(function() {
  handleFilterClick(this, 'active');
});
</script>
{% endblock %}
