{% for team in teams %}
  <div class="col-xl-2 col-md-3 col-6 text-center mb-5 team">
    <a href="/teams/{{ team.slug }}">
      <img src="{{ team.logoUrl }}" class="mb-1 mx-auto team-logo" alt="{{ 'teamList.logo_alt'|trans({'%team%': team.name}) }}" />
      {{ team.name -}}
    </a>
    {% if is_granted('ROLE_ADMIN') %}
      <a href="/teams/{{ team.slug }}/edit" class="link-primary icon-link" title="{{ 'general.edit'|trans }}">
        <i class="i-pen"></i>
      </a>
    {% endif %}
  </div>
{% endfor %}
