{% extends "base.html.twig" %}

{% block title %}{{ team.name }}{% endblock %}

{% block body %}
  <img src="https://sportsarchive-team-logos.s3.amazonaws.com/{{ team.slug }}.svg" class="float-md-end mb-2" style="height:200px" />
  <h1>
    {{- team.name -}}
  </h1>
  {% if team.website %}
    <p>Website: <a href="{{ team.website }}" target="_blank">{{ team.website }}</a></p>
  {% endif %}
  <h2>Rosters</h2>
  {% if is_granted('ROLE_ADMIN') %}
    <a href="/teams/{{ team.slug }}/new-roster" class="btn btn-success mb-3">Create new roster</a>
  {% endif %}
  <ul>
    {% for roster in rosters %}
      <li>
        <a href="/teams/{{ team.slug }}/{{ roster.year }}">{{ roster.year }}</a>
        {% if is_granted('ROLE_ADMIN') %}
          (<a href="/teams/{{ team.slug }}/{{ roster.year }}/edit-roster">Edit</a>)
        {% endif %}
      </li>
    {% else %}
      <p class="lead">None yet!</p>
    {% endfor %}
  </ul>
{% endblock %}
