{% extends "base.html.twig" %}
{% from 'document/documentShow.html.twig' import getFileIcon %}
{% from 'team/teamShow_heading.html.twig' import makeTeamNav %}

{% block title %}{{ team.name }}{% endblock %}

{% block body %}
  {% include 'team/teamShow_heading.html.twig' %}

  {% if leagueTeams %}
    {{ makeTeamNav(team, 'home') }}
  {% endif %}

  {% if team.type == 'teams' %}
    <h2>{{ 'teamShow.headshots'|trans }}</h2>
    {% if is_granted('ROLE_ADMIN') %}
      <a href="/teams/{{ team.slug }}/new-roster" class="btn btn-sm btn-success mb-3">
        <i class="i-plus"></i>
        {{ 'teamShow.roster_create'|trans }}
      </a>
    {% endif %}
    {% if rosters %}
      <ul>
        {% for roster in rosters %}
          <li>
            <a href="/teams/{{ team.slug }}/{{ roster.year }}">{{ roster.year }}</a>
            {% if is_granted('ROLE_ADMIN') %}
              <a href="/teams/{{ team.slug }}/{{ roster.year }}/edit-roster" class="link-primary icon-link" title="{{ 'general.edit'|trans }}">
                <i class="i-pen"></i>
              </a>
              <!--<a href="/teams/{{ team.slug }}/{{ roster.year }}/delete-roster" class="link-danger icon-link" title="{{ 'general.delete'|trans }}">
                <i class="i-trash"></i>
              </a>-->
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="lead">{{ 'teamShow.headshots_none'|trans }}</p>
    {% endif %}
  {% endif %}

  <h2>{{ 'teamShow.documents'|trans }}</h2>
  {% if is_granted('ROLE_ADMIN') %}
    <a href="/teams/{{ team.slug }}/new-document" class="btn btn-sm btn-success mb-3">
      <i class="i-upload"></i>
      {{ 'teamShow.document_upload'|trans }}
    </a>
  {% endif %}
  {% set currentDocumentCategory = '' %}
  {% for document in documents %}
    {% if currentDocumentCategory != document.category %}
      {% if currentDocumentCategory != '' %}</ul>{% endif %}
      {% set currentDocumentCategory = document.category %}
      <h3>{{ document.category|replace({'-': ' '})|capitalize }}</h3>
      <ul class="icon-ul">
    {% endif %}
    <li>
      <span class="icon-li"><i class="{{ getFileIcon(document.fileExtension) }}"></i></span>
      <a href="/documents/{{ document.id }}">
        {{- document.title -}}
      </a>
      {% if document.language != app.request.locale and document.language != null %}
        ({{ document.language|language_name }})
      {% endif %}
      <a href="{{ document.fileUrl }}" class="icon-link link-success" aria-label="{{ 'teamShow.download_label'|trans({'%extension%': (document.fileExtension|upper), '%title%': document.title}) }}">
        <i class="i-download"></i>
      </a>
      {% if is_granted('ROLE_ADMIN') %}
        <a href="/documents/{{ document.id }}/edit" class="link-primary icon-link" title="{{ 'general.edit'|trans }}">
          <i class="i-pen"></i>
        </a>
        <a href="/documents/{{ document.id }}/delete" class="link-danger icon-link" title="{{ 'general.delete'|trans }}">
          <i class="i-trash"></i>
        </a>
      {% endif %}
    </li>
  {% else %}
    <p class="lead">{{ 'teamShow.documents_none'|trans }}</p>
  {% endfor %}
  {% if documents %}</ul>{% endif %}
{% endblock %}
