{% extends "base.html.twig" %}

{% block title %}{{ ('teamList.title_'~type)|trans }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('teamList') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('teamList') }}
{% endblock %}

{% block body %}
  <div id="jsData" class="d-none"
    data-count-filter="{{ countFilter }}"
    data-page-size="{{ pageSize }}"
    data-page-num="{{ pageNum }}"
    ></div>
  <h1>{{ ('teamList.title_'~type)|trans }}</h1>
  {% if is_granted('ROLE_ADMIN') %}
    <a href="/new-team" class="btn btn-sm btn-success mb-3">
      <i class="i-plus"></i>
      {{ ('teamList.create_'~type)|trans }}
    </a>
  {% endif %}
  <p>
    {{ ('teamList.showing_'~type)|trans({'%count%': countFilter, '%total%': countAll})|raw }}
  </p>
  <div class="btn-toolbar mb-3 filter-buttons" role="toolbar" aria-label="{{ 'teamList.toolbar'|trans }}">
    <div class="btn-group mb-2 me-2" role="group" aria-label="{{ 'teamList.sport'|trans }}">
      <a {{ _self.createFilterLink(type, 'sport', '') }}>
        {{ 'teamList.sport_all'|trans }}
      </a>
      {% for sport in presetSports %}
        <a {{ _self.createFilterLink(type, 'sport', sport) }} title="{{ sportInfo.capitalizedNames[sport] }}">
          <i class="i-{{ sportInfo.icons[sport] }}"></i>
        </a>
      {% endfor %}
      <a {{ _self.createFilterLink(type, 'sport', '~') }} title="{{ 'teamList.sport_other'|trans }}">
        <i class="i-ellipsis-h"></i>
      </a>
    </div>
    <div class="btn-group mb-2 me-2" role="group" aria-label="{{ 'country.country'|trans }}">
      <a {{ _self.createFilterLink(type, 'country', '') }}>
        {{ 'country.all'|trans }}
      </a>
      {% set flagWidths = {'US': 38, 'CA': 40} %}
      {% for country in presetCountries %}
        <a {{ _self.createFilterLink(type, 'country', country) }} title="{{ country|country_name }}">
          <img src="/images/flags/{{ country }}.svg" alt="{{ 'country.flag_alt'|trans({'%country%': country|country_name}) }}" height="20" width="{{ flagWidths[country] }}">
        </a>
      {% endfor %}
      <a {{ _self.createFilterLink(type, 'country', '~') }} title="{{ 'country.other'|trans }}">
        <i class="i-ellipsis-h"></i>
      </a>
    </div>
    <div class="btn-group mb-2 me-2" role="group" aria-label="{{ 'gender.gender'|trans }}">
      <a {{ _self.createFilterLink(type, 'gender', '') }}>
        {{ 'gender.all'|trans }}
      </a>
      <a {{ _self.createFilterLink(type, 'gender', 'men') }}>
        {{ 'gender.men'|trans }}
      </a>
      <a {{ _self.createFilterLink(type, 'gender', 'women') }}>
        {{ 'gender.women'|trans }}
      </a>
    </div>
    <div class="btn-group mb-2 me-2" role="group" aria-label="{{ 'teamList.active'|trans }}">
      <a {{ _self.createFilterLink(type, 'active', '') }}>
        {{ 'teamList.active_all'|trans }}
      </a>
      <a {{ _self.createFilterLink(type, 'active', 'true') }}>
        {{ 'teamList.active_true'|trans }}
      </a>
      <a {{ _self.createFilterLink(type, 'active', 'false') }}>
        {{ 'teamList.active_false'|trans }}
      </a>
    </div>
  </div>
  <div id="teams" class="row">
    {% if teams %}
      {% include 'team/teamList_teams.html.twig' %}
    {% else %}
      <p class="lead">{{ ('teamList.noResults_'~type)|trans }}</p>
    {% endif %}
  </div>

  <p id="loadingMore" class="lead text-center d-none">
    <i class="i-spinner icon-spin"></i>
    {{ ('teamList.loadingMore_'~type)|trans }}
  </p>
  <p id="reachedEnd" class="lead text-center d-none">
    {{ ('teamList.reachedEnd_'~type)|trans }}
  </p>

  {% set maxPage = (countFilter/pageSize)|round(0, 'ceil') %}
  <nav id="pagination" aria-label="{{ 'pagination.label'|trans }}">
    <ul class="pagination justify-content-center">
      {% if pageNum > 1 %}
        <li class="page-item" title="{{ 'pagination.first'|trans }}">
          <a class="page-link" href="{{ _self.generateFilterUrl(type, {'page': 1}) }}">
            &lt;&lt;
          </a>
        </li>
        <li class="page-item" title="{{ 'pagination.previous'|trans }}">
          <a class="page-link" href="{{ _self.generateFilterUrl(type, {'page': pageNum-1}) }}">
            &lt;
          </a>
        </li>
      {% else %}
        <li class="page-item disabled" title="{{ 'pagination.first'|trans }}">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&lt;&lt;</a>
        </li>
        <li class="page-item disabled" title="{{ 'pagination.previous'|trans }}">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&lt;</a>
        </li>
      {% endif %}
      {% set firstPage = max(min(pageNum - 2, maxPage - 4), 1) %}
      {% set lastPage = min(firstPage + 4, maxPage) %}
      {% for p in range(firstPage, lastPage) %}
        <li class="page-item{% if p == pageNum %} active" aria-current="page{% endif %}">
          <a class="page-link" href="{{ _self.generateFilterUrl(type, {'page': p}) }}">
            {{- p -}}
          </a>
        </li>
      {% endfor %}
      {% if maxPage-pageNum > 0 %}
        <li class="page-item" title="{{ 'pagination.next'|trans }}">
          <a class="page-link" href="{{ _self.generateFilterUrl(type, {'page': pageNum+1}) }}">
            &gt;
          </a>
        </li>
        <li class="page-item" title="{{ 'pagination.last'|trans }}">
          <a class="page-link" href="{{ _self.generateFilterUrl(type, {'page': maxPage}) }}">
            &gt;&gt;
          </a>
        </li>
      {% else %}
        <li class="page-item disabled" title="{{ 'pagination.next'|trans }}">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&gt;</a>
        </li>
        <li class="page-item disabled" title="{{ 'pagination.last'|trans }}">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&gt;&gt;</a>
        </li>
      {% endif %}
    </ul>
  </nav>
  <noscript>
    <div class="alert alert-info" role="alert">
      {{ 'teamList.noscript'|trans }}
    </div>
  </noscript>
{% endblock %}

{% macro generateFilterUrl(type, newParams) %}
{% apply spaceless %}
  {% set params = app.request.query.all|merge({'type': type}) %}

  {# if they're clicking a non-pagination link, take them back to page 1 #}
  {% set params = params|filter((v, k) => k != 'page') %}

  {# merge in newParams AFTER removing 'page', so that pagination links work #}
  {% set params = params|merge(newParams) %}

  {# remove empty params for prettier links #}
  {% set params = params|filter(v => v != '') %}

  {{ path('team_list', params) }}
{% endapply %}
{% endmacro %}

{% macro createFilterLink(type, key, value) %}
href="{{ _self.generateFilterUrl(type, {(key): value}) }}"
class="btn btn-secondary{% if app.request.query.get(key) == value %} active{% endif %}"
{% endmacro %}
