{% extends "base.html.twig" %}

{% block title %}{{ ('teamList.title_'~type)|trans }}{% endblock %}

{% block body %}
  <h1>{{ ('teamList.title_'~type)|trans }}</h1>
  {% if is_granted('ROLE_ADMIN') %}
    <a href="/new-team" class="btn btn-sm btn-success mb-3">
      <i class="i-plus"></i>
      {{ ('teamList.create_'~type)|trans }}
    </a>
  {% endif %}
  <p>
    {{ ('teamList.showing_'~type)|trans({'%count%': countFilter, '%total%': countAll})|raw }}
  </p>
  <div class="btn-toolbar mb-3 filter-buttons" role="toolbar" aria-label="{{ 'teamList.toolbar'|trans }}">
    <div class="btn-group mb-2 me-2" role="group" aria-label="{{ 'teamList.sport'|trans }}">
      <a {{ _self.createFilterLink(type, 'sport', '') }}>
        {{ 'teamList.sport_all'|trans }}
      </a>
      {% for sport in presetSports %}
        <a {{ _self.createFilterLink(type, 'sport', sport) }} title="{{ sportInfo.capitalizedNames[sport] }}">
          <i class="i-{{ sportInfo.icons[sport] }}"></i>
        </a>
      {% endfor %}
      <a {{ _self.createFilterLink(type, 'sport', '*') }} title="{{ 'teamList.sport_other'|trans }}">
        <i class="i-ellipsis-h"></i>
      </a>
    </div>
    <div class="btn-group mb-2 me-2" role="group" aria-label="{{ 'country.country'|trans }}">
      <a {{ _self.createFilterLink(type, 'country', '') }}>
        {{ 'country.all'|trans }}
      </a>
      {% for country in presetCountries %}
        <a {{ _self.createFilterLink(type, 'country', country) }} title="{{ country|country_name }}">
          <img src="/images/flags/{{ country }}.svg" alt="{{ 'country.flag_alt'|trans({'%country%': country|country_name}) }}" height="20">
        </a>
      {% endfor %}
      <a {{ _self.createFilterLink(type, 'country', '*') }} title="{{ 'country.other'|trans }}">
        <i class="i-ellipsis-h"></i>
      </a>
    </div>
    <div class="btn-group mb-2 me-2" role="group" aria-label="{{ 'gender.gender'|trans }}">
      <a {{ _self.createFilterLink(type, 'gender', '') }}>
        {{ 'gender.all'|trans }}
      </a>
      <a {{ _self.createFilterLink(type, 'gender', 'men') }}>
        {{ 'gender.men'|trans }}
      </a>
      <a {{ _self.createFilterLink(type, 'gender', 'women') }}>
        {{ 'gender.women'|trans }}
      </a>
    </div>
    <div class="btn-group mb-2 me-2" role="group" aria-label="{{ 'teamList.active'|trans }}">
      <a {{ _self.createFilterLink(type, 'active', '') }}>
        {{ 'teamList.active_all'|trans }}
      </a>
      <a {{ _self.createFilterLink(type, 'active', 'true') }}>
        {{ 'teamList.active_true'|trans }}
      </a>
      <a {{ _self.createFilterLink(type, 'active', 'false') }}>
        {{ 'teamList.active_false'|trans }}
      </a>
    </div>
  </div>
  <div class="row">
    {% for team in teams %}
      <div class="col-xl-2 col-md-3 col-6 text-center mb-5 team">
        <a href="/teams/{{ team.slug }}">
          <img src="{{ team.logoUrl }}" style="height:100px; max-width:130px" class="mb-1 mx-auto d-block" alt="{{ 'teamList.logo_alt'|trans({'%team%': team.name}) }}" />
          {{ team.name -}}
        </a>
        {% if is_granted('ROLE_ADMIN') %}
          <a href="/teams/{{ team.slug }}/edit" class="link-primary icon-link" title="{{ 'general.edit'|trans }}">
            <i class="i-pen"></i>
          </a>
        {% endif %}
      </div>
    {% else %}
      <p class="lead">{{ ('teamList.noResults_'~type)|trans }}</p>
    {% endfor %}

    {% set maxPage = (countFilter/pageSize)|round(0, 'ceil') %}
    <nav aria-label="Team pages navigation">
      <ul class="pagination justify-content-center">
        {% if pageNum > 1 %}
          <li class="page-item" title="First">
            <a class="page-link" href="{{ _self.generateFilterUrl(type, {'page': 1}) }}">
              &lt;&lt;
            </a>
          </li>
          <li class="page-item" title="Previous">
            <a class="page-link" href="{{ _self.generateFilterUrl(type, {'page': pageNum-1}) }}">
              &lt;
            </a>
          </li>
        {% else %}
          <li class="page-item disabled" title="First">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&lt;&lt;</a>
          </li>
          <li class="page-item disabled" title="Previous">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&lt;</a>
          </li>
        {% endif %}
        {% if pageNum == maxPage and maxPage >= 3 %}
          <li class="page-item">
            <a class="page-link" href="{{ _self.generateFilterUrl(type, {'page': pageNum-2}) }}">
              {{- pageNum-2 -}}
            </a>
          </li>
        {% endif %}
        {% if pageNum > 1 %}
          <li class="page-item">
            <a class="page-link" href="{{ _self.generateFilterUrl(type, {'page': pageNum-1}) }}">
              {{- pageNum-1 -}}
            </a>
          </li>
        {% endif %}
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="{{ _self.generateFilterUrl(type, {'page': pageNum}) }}">
            {{- pageNum -}}
          </a>
        </li>
        {% if maxPage-pageNum > 0 %}
          <li class="page-item">
            <a class="page-link" href="{{ _self.generateFilterUrl(type, {'page': pageNum+1}) }}">
              {{- pageNum+1 -}}
            </a>
          </li>
        {% endif %}
        {% if pageNum == 1 and maxPage >= 3 %}
          <li class="page-item">
            <a class="page-link" href="{{ _self.generateFilterUrl(type, {'page': pageNum+2}) }}">
              {{- pageNum+2 -}}
            </a>
          </li>
        {% endif %}
        {% if maxPage-pageNum > 0 %}
          <li class="page-item" title="Next">
            <a class="page-link" href="{{ _self.generateFilterUrl(type, {'page': pageNum+1}) }}">
              &gt;
            </a>
          </li>
          <li class="page-item" title="Last">
            <a class="page-link" href="{{ _self.generateFilterUrl(type, {'page': maxPage}) }}">
              &gt;&gt;
            </a>
          </li>
        {% else %}
          <li class="page-item disabled" title="Next">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&gt;</a>
          </li>
          <li class="page-item disabled" title="Last">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&gt;&gt;</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% endblock %}

{% macro generateFilterUrl(type, newParams) %}
{% apply spaceless %}
  {% set params = app.request.query.all|merge({'type': type}) %}
  {% set params = params|filter((v, k) => k != 'page') %}
  {% set params = params|merge(newParams) %}
  {% set params = params|filter(v => v != '') %}
  {{ path('team_list', params) }}
{% endapply %}
{% endmacro %}

{% macro createFilterLink(type, key, value) %}
href="{{ _self.generateFilterUrl(type, {(key): value}) }}"
class="btn btn-secondary{% if app.request.query.get(key) == value %} active{% endif %}"
{% endmacro %}
