{% extends "base.html.twig" %}

{% block title %}Remove team from league{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('delete') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('delete') }}
{% endblock %}

{% block body %}
  <h1>Remove team from league</h1>
  <p>
    <strong>Team:</strong>
    <a href="/{{ teamLeague.team.type }}/{{ teamLeague.team.slug }}">
      {{- teamLeague.team.name -}}
    </a>
    {% if teamLeague.team.startYear or teamLeague.team.endYear %}
      ({{ teamLeague.team.startYear }}–{{ teamLeague.team.endYear }})
    {% endif %}
  </p>
  <p>
    <strong>League:</strong> 
    <a href="/{{ teamLeague.league.type }}/{{ teamLeague.league.slug }}">
      {{- teamLeague.league.name -}}
    </a>
    {% if teamLeague.league.startYear or teamLeague.league.endYear %}
      ({{ teamLeague.league.startYear }}–{{ teamLeague.league.endYear }})
    {% endif %}
  </p>
  <p>
    <strong>Seasons:</strong>
    {% if teamLeague.firstSeason or teamLeague.lastSeason %}
      {{ teamLeague.firstSeason }} – {{ teamLeague.lastSeason }}
    {% else %}
      <em>not set</em>
    {% endif %}
  </p>
  <p>Are you sure you want to remove this team from this league?</p>
  {{ form(form) }}
{% endblock %}
