{% extends "base.html.twig" %}

{% block title %}{{ team.name }}{% endblock %}

{% block body %}
  <div class="float-md-end text-md-center" style="font-size:32px">
    <img src="{{ team.logoUrl }}" class="mb-2 d-block" style="height:200px; max-width:260px" />
    {% if team.country %}
      <img src="/images/flags/{{ team.country }}.svg" height="32" title="{{ team.countryName }}">
    {% endif %}
    {% if team.sport %}
      {% set sportIcons = {
        'baseball': 'baseball-ball',
        'basketball': 'basketball-ball',
        'bowling': 'bowling-ball',
        'esports': 'gamepad',
        'football': 'football-ball',
        'golf': 'golf-ball',
        'hockey': 'hockey-puck',
        'lacrosse': 'lacrosse',
        'motorsport': 'car-side',
        'soccer': 'futbol',
        'table-tennis': 'table-tennis',
        'tennis': 'tennis-racquet',
        'volleyball': 'volleyball-ball',
      }
      %}
      <i class="i-{{ sportIcons[team.sport] }}" title="{{ team.sport|capitalize }}"></i>
    {% endif %}
    {% if team.gender %}
      {% set genderIcons = {
        'men': 'mars',
        'women': 'venus',
      }
      %}
      <i class="i-{{ genderIcons[team.gender] }}" title="{{ team.gender|capitalize }}"></i>
    {% endif %}
  </div>
  <h1>{{ team.name }}</h1>
  {% if is_granted('ROLE_ADMIN') %}
    <a href="/teams/{{ team.slug }}/edit" class="btn btn-sm btn-primary mb-3">
      <i class="i-pen"></i>
      Edit team
    </a>
  {% endif %}
  <div class="mb-2">
    <div>
      {{ team.description }}
    </div>
    {% if team.startYear or team.endYear %}
      <div>Active {{ team.startYear }}–{{ team.endYear }}</div>
    {% endif %}
    {% if team.parentTeam %}
      <div>
        Parent {{ team.parentTeam.type == 'teams' ? 'team' : 'organization' }}:
        <a href="/{{ team.parentTeam.type }}/{{ team.parentTeam.slug }}">
          {{ team.parentTeam.name }}
        </a>
      </div>
    {% endif %}
    {% if childTeams %}
      <div>
        Sub {{ team.type == 'teams' ? 'team' : 'organization' }}s:
        {% for child in childTeams %}
          <a href="/{{ child.type }}/{{ child.slug }}">
            {{- child.name -}}
          </a>{% if not loop.last %}, {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if team.website %}
      <div>
        Website:
        <a href="{{ team.website }}" target="_blank">
          {{ team.websitePretty }}
        </a>
      </div>
    {% endif %}
  </div>

  {% if team.type == 'teams' %}
    <h2>Headshots</h2>
    {% if is_granted('ROLE_ADMIN') %}
      <a href="/teams/{{ team.slug }}/new-roster" class="btn btn-sm btn-success mb-3">
        <i class="i-plus"></i>
        Create roster
      </a>
    {% endif %}
    {% if rosters %}
    <ul>
      {% for roster in rosters %}
        <li>
          <a href="/teams/{{ team.slug }}/{{ roster.year }}">{{ roster.year }}</a>
          {% if is_granted('ROLE_ADMIN') %}
            <a href="/teams/{{ team.slug }}/{{ roster.year }}/edit-roster" class="icon-link" title="Edit">
              <i class="i-pen"></i>
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p class="lead">None yet!</p>
    {% endif %}
  {% endif %}

  <h2>Documents</h2>
  {% if is_granted('ROLE_ADMIN') %}
    <a href="/teams/{{ team.slug }}/new-document" class="btn btn-sm btn-success mb-3">
      <i class="i-upload"></i>
      Upload document
    </a>
  {% endif %}
  {% set fileIcons  = {
    'pdf': 'i-file-pdf',
    'zip': 'i-file-archive',
    'rar': 'i-file-archive',
    'gz': 'i-file-archive',
    'doc': 'i-file-word',
    'docx': 'i-file-word',
    'ppt': 'i-file-powerpoint',
    'pptx': 'i-file-powerpoint',
    'xls': 'i-file-excel',
    'xlsx': 'i-file-excel',
    'html': 'i-file-code',
    'htm': 'i-file-code',
    'txt': 'i-file-alt',
    'rtf': 'i-file-alt',
    'jpg': 'i-file-image',
    'jpeg': 'i-file-image',
    'png': 'i-file-image',
    'bmp': 'i-file-image',
    'tif': 'i-file-image',
    'svg': 'i-file-image',
    'eps': 'i-file-image',
    'psd': 'i-file-image',
    'xcf': 'i-file-image',
    'cr2': 'i-file-image',
    'm4a': 'i-file-audio',
    'mp3': 'i-file-audio',
    'mka': 'i-file-audio',
    'wma': 'i-file-audio',
    'wav': 'i-file-audio',
    'opus': 'i-file-audio',
    'ogg': 'i-file-audio',
    'oga': 'i-file-audio',
    'mov': 'i-file-video',
    'mpg': 'i-file-video',
    'mpeg': 'i-file-video',
    'mp4': 'i-file-video',
    'avi': 'i-file-video',
    'webm': 'i-file-video',
    'mkv': 'i-file-video',
    'wmv': 'i-file-video',
    'ogv': 'i-file-video',
  }
  %}
  {% set currentDocumentCategory = '' %}
  {% for document in documents %}
    {% if currentDocumentCategory != document.category %}
      {% if currentDocumentCategory != '' %}</ul>{% endif %}
      {% set currentDocumentCategory = document.category %}
      <h3>{{ document.category|replace({'-': ' '})|capitalize }}</h3>
      <ul class="icon-ul">
    {% endif %}
    <li>
      <span class="icon-li"><i class="{{ document.fileExtension in fileIcons|keys ? fileIcons[document.fileExtension] : "i-file" }}"></i></span>
      <a href="https://nyc3.digitaloceanspaces.com/{{ documentUrlInfix }}{{ document.filePath }}">{{ document.title }}</a>
      {% if is_granted('ROLE_ADMIN') %}
        <a href="/documents/{{ document.id }}/edit" class="icon-link" title="Edit">
          <i class="i-pen"></i>
        </a>
        <a href="/documents/{{ document.id }}/delete" class="icon-link text-danger" title="Delete">
          <i class="i-trash"></i>
        </a>
      {% endif %}
    </li>
  {% else %}
    <p class="lead">None yet!</p>
  {% endfor %}
  {% if documents %}</ul>{% endif %}
{% endblock %}
