{% extends "base.html.twig" %}

{% block title %}{{ team.name }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
.team-logo-block {
  font-size: 32px;
}
.team-logo {
  height: 200px;
  max-width: 260px;
}
.team-flag {
  height: 32px;
  vertical-align: -10%;
}
</style>
{% endblock %}

{% block body %}
  <div class="team-logo-block float-md-end text-md-center">
    <img src="{{ team.logoUrl }}" alt="{{ team.name }} logo" class="team-logo mb-2 d-block" />
    {% if team.country %}
      <img src="/images/flags/{{ team.country }}.svg" class="team-flag" alt="{{ team.countryName }} flag" title="{{ team.countryName }}">
    {% endif %}
    {% if team.sport %}
      <i class="i-{{ sportInfo.icons[team.sport] }}" title="{{ sportInfo.capitalizedNames[team.sport] }}"></i>
    {% endif %}
    {% if team.gender %}
      {% set genderIcons = {
        'men': 'mars',
        'women': 'venus',
      }
      %}
      <i class="i-{{ genderIcons[team.gender] }}" title="{{ team.gender|capitalize }}"></i>
    {% endif %}
  </div>
  <h1>{{ team.name }}</h1>
  {% if is_granted('ROLE_ADMIN') %}
    <a href="/teams/{{ team.slug }}/edit" class="btn btn-sm btn-primary mb-3">
      <i class="i-pen"></i>
      {{ ('teamShow.edit_'~team.type)|trans }}
    </a>
  {% endif %}
  <div class="mb-2">
    <div>
      {{ team.description }}
    </div>
    {% if team.startYear or team.endYear %}
      <div>{{ 'teamShow.yearsActive'|trans({'%start%': team.startYear, '%end%': team.endYear}) }}</div>
    {% endif %}
    {% if team.parentTeam %}
      <div>
        {{ ('teamShow.parent_'~team.parentTeam.type)|trans }}
        <a href="/{{ team.parentTeam.type }}/{{ team.parentTeam.slug }}">
          {{ team.parentTeam.name }}
        </a>
      </div>
    {% endif %}
    {% if childTeams %}
      <div>
        {{ ('teamShow.child_'~team.parentTeam.type)|trans }}
        {% for child in childTeams %}
          <a href="/{{ child.type }}/{{ child.slug }}">
            {{- child.name -}}
          </a>{% if not loop.last %}, {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if team.website %}
      <div>
        {{ 'teamShow.website'|trans }}
        <a href="{{ team.website }}" target="_blank">
          {{ team.websitePretty }}
        </a>
      </div>
    {% endif %}
  </div>

  {% if team.type == 'teams' %}
    <h2>{{ 'teamShow.headshots'|trans }}</h2>
    {% if is_granted('ROLE_ADMIN') %}
      <a href="/teams/{{ team.slug }}/new-roster" class="btn btn-sm btn-success mb-3">
        <i class="i-plus"></i>
        {{ 'teamShow.roster_create'|trans }}
      </a>
    {% endif %}
    {% if rosters %}
    <ul>
      {% for roster in rosters %}
        <li>
          <a href="/teams/{{ team.slug }}/{{ roster.year }}">{{ roster.year }}</a>
          {% if is_granted('ROLE_ADMIN') %}
            <a href="/teams/{{ team.slug }}/{{ roster.year }}/edit-roster" class="icon-link" title="{{ 'general.edit'|trans }}">
              <i class="i-pen"></i>
            </a>
            <!--<a href="/teams/{{ team.slug }}/{{ roster.year }}/delete-roster" class="icon-link text-danger" title="{{ 'general.delete'|trans }}">
              <i class="i-trash"></i>
            </a>-->
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p class="lead">{{ 'teamShow.headshots_none'|trans }}</p>
    {% endif %}
  {% endif %}

  <h2>{{ 'teamShow.documents'|trans }}</h2>
  {% if is_granted('ROLE_ADMIN') %}
    <a href="/teams/{{ team.slug }}/new-document" class="btn btn-sm btn-success mb-3">
      <i class="i-upload"></i>
      {{ 'teamShow.document_upload'|trans }}
    </a>
  {% endif %}
  {% set fileIcons  = {
    'pdf': 'i-file-pdf',
    'zip': 'i-file-archive',
    'rar': 'i-file-archive',
    'gz': 'i-file-archive',
    'doc': 'i-file-word',
    'docx': 'i-file-word',
    'ppt': 'i-file-powerpoint',
    'pptx': 'i-file-powerpoint',
    'xls': 'i-file-excel',
    'xlsx': 'i-file-excel',
    'html': 'i-file-code',
    'htm': 'i-file-code',
    'txt': 'i-file-alt',
    'rtf': 'i-file-alt',
    'jpg': 'i-file-image',
    'jpeg': 'i-file-image',
    'png': 'i-file-image',
    'bmp': 'i-file-image',
    'tif': 'i-file-image',
    'svg': 'i-file-image',
    'eps': 'i-file-image',
    'psd': 'i-file-image',
    'xcf': 'i-file-image',
    'cr2': 'i-file-image',
    'm4a': 'i-file-audio',
    'mp3': 'i-file-audio',
    'mka': 'i-file-audio',
    'wma': 'i-file-audio',
    'wav': 'i-file-audio',
    'opus': 'i-file-audio',
    'ogg': 'i-file-audio',
    'oga': 'i-file-audio',
    'mov': 'i-file-video',
    'mpg': 'i-file-video',
    'mpeg': 'i-file-video',
    'mp4': 'i-file-video',
    'avi': 'i-file-video',
    'webm': 'i-file-video',
    'mkv': 'i-file-video',
    'wmv': 'i-file-video',
    'ogv': 'i-file-video',
  }
  %}
  {% set currentDocumentCategory = '' %}
  {% for document in documents %}
    {% if currentDocumentCategory != document.category %}
      {% if currentDocumentCategory != '' %}</ul>{% endif %}
      {% set currentDocumentCategory = document.category %}
      <h3>{{ document.category|replace({'-': ' '})|capitalize }}</h3>
      <ul class="icon-ul">
    {% endif %}
    <li>
      <span class="icon-li"><i class="{{ document.fileExtension in fileIcons|keys ? fileIcons[document.fileExtension] : "i-file" }}"></i></span>
      <a href="https://nyc3.digitaloceanspaces.com/{{ documentUrlInfix }}{{ document.filePath }}" aria-label="{{ 'teamShow.download_label'|trans({'%extension%': (document.fileExtension|upper), '%title%': document.title}) }}">
        {{- document.title -}}
      </a>
      {% if is_granted('ROLE_ADMIN') %}
        <a href="/documents/{{ document.id }}/edit" class="icon-link" title="{{ 'general.edit'|trans }}">
          <i class="i-pen"></i>
        </a>
        <a href="/documents/{{ document.id }}/delete" class="icon-link text-danger" title="{{ 'general.delete'|trans }}">
          <i class="i-trash"></i>
        </a>
      {% endif %}
    </li>
  {% else %}
    <p class="lead">{{ 'teamShow.documents_none'|trans }}</p>
  {% endfor %}
  {% if documents %}</ul>{% endif %}
{% endblock %}
