{% extends "base.html.twig" %}

{% block title %}{{ ('teamList.title_'~type)|trans }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('teamList') }}
<style>
.team:not(.show-sport),
.team:not(.show-country),
.team:not(.show-gender),
.team:not(.show-active) {
  display:none;
}
</style>
{% endblock %}

{% block body %}
  <h1>{{ ('teamList.title_'~type)|trans }}</h1>
  {% if is_granted('ROLE_ADMIN') %}
    <a href="/new-team" class="btn btn-sm btn-success mb-3">
      <i class="i-plus"></i>
      {{ ('teamList.create_'~type)|trans}}
    </a>
  {% endif %}
  <p>
    {{ ('teamList.showing_'~type)|trans({'%count%': '<span id="teamCount">'~(teams|length)~'</span>', '%total%': (teams|length)})|raw }}
  </p>
  <div class="btn-toolbar mb-3 filter-buttons" role="toolbar" aria-label="{{ 'teamList.toolbar'|trans }}">
    <div class="btn-group mb-2 me-2" role="group" aria-label="{{ 'teamList.sport'|trans }}">
      <button type="button" class="btn btn-secondary filter-sport active" disabled>
        {{ 'teamList.sport_all'|trans }}
      </button>
      {% for sport in ['baseball', 'basketball', 'football', 'hockey', 'soccer'] %}
        <button type="button" class="btn btn-secondary filter-sport" data-filter="{{ sport }}" title="{{ sportInfo.capitalizedNames[sport] }}" disabled>
          <i class="i-{{ sportInfo.icons[sport] }}"></i>
        </button>
      {% endfor %}
      <button type="button" class="btn btn-secondary filter-sport" data-filter="*" title="{{ 'teamList.sport_other'|trans }}" disabled>
        <i class="i-ellipsis-h"></i>
      </button>
    </div>
    <div class="btn-group mb-2 me-2" role="group" aria-label="{{ 'country.country'|trans }}">
      <button type="button" class="btn btn-secondary filter-country active" disabled>
        {{ 'country.all'|trans }}
      </button>
      <button type="button" class="btn btn-secondary filter-country" data-filter="US" title="{{ 'US'|country_name }}" disabled>
        <img src="/images/flags/US.svg" alt="{{ 'country.flag_alt'|trans({'%country%': 'US'|country_name}) }}" height="20" width="38">
      </button>
      <button type="button" class="btn btn-secondary filter-country" data-filter="CA" title="{{ 'CA'|country_name }}" disabled>
        <img src="/images/flags/CA.svg" alt="{{ 'country.flag_alt'|trans({'%country%': 'CA'|country_name}) }}" height="20" width="40">
      </button>
      <button type="button" class="btn btn-secondary filter-country" data-filter="*" title="{{ 'country.other'|trans }}" disabled>
        <i class="i-ellipsis-h"></i>
      </button>
    </div>
    <div class="btn-group mb-2 me-2" role="group" aria-label="{{ 'gender.gender'|trans }}">
      <button type="button" class="btn btn-secondary filter-gender active" disabled>
        {{ 'gender.all'|trans }}
      </button>
      <button type="button" class="btn btn-secondary filter-gender" data-filter="men" disabled>
        {{ 'gender.men'|trans }}
      </button>
      <button type="button" class="btn btn-secondary filter-gender" data-filter="women" disabled>
        {{ 'gender.women'|trans }}
      </button>
    </div>
    <div class="btn-group mb-2 me-2" role="group" aria-label="{{ 'teamList.active'|trans }}">
      <button type="button" class="btn btn-secondary filter-active active" disabled>
        {{ 'teamList.active_all'|trans }}
      </button>
      <button type="button" class="btn btn-secondary filter-active" data-filter="true" disabled>
        {{ 'teamList.active_true'|trans }}
      </button>
      <button type="button" class="btn btn-secondary filter-active" data-filter="false" disabled>
        {{ 'teamList.active_false'|trans }}
      </button>
    </div>
  </div>
  <div class="row">
    <p id="noTeams" class="lead d-none">{{ ('teamList.noResults_'~type)|trans }}</p>
    {% for team in teams %}
      <div class="col-xl-2 col-md-3 col-6 text-center mb-5 team show-sport show-country show-gender show-active" data-sport="{{ team.sport }}" data-country="{{ team.country }}" data-gender="{{ team.gender }}" data-active="{{ team.endYear ? 'false' : 'true' }}">
        <a href="/teams/{{ team.slug }}">
          <img src="{{ team.logoUrl }}" style="height:100px; max-width:130px" class="mb-1 mx-auto d-block" alt="{{ 'teamList.logo_alt'|trans({'%team%': team.name}) }}" />
          {{ team.name -}}
        </a>
        {% if is_granted('ROLE_ADMIN') %}
          <a href="/teams/{{ team.slug }}/edit" class="link-primary icon-link" title="{{ 'general.edit'|trans }}">
            <i class="i-pen"></i>
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('teamList') }}
{% endblock %}
