{% extends "base.html.twig" %}

{% block title %}Delete headshot{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('delete') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('delete') }}
{% endblock %}

{% block body %}
  <h1>Delete headshot</h1>
  <div class="card mb-3 float-md-end">
    <a href="{{ headshot.fileUrl }}">
      <img src="{{ headshot.thumbnailUrl }}" class="card-img-top" alt="{{ 'rosterShow.headshot_alt'|trans({'%name%': headshot.personName}) }}">
    </a>
    <div class="card-body">
      <h5 class="card-title">
        {{- headshot.personName -}}
        {%- if headshot.jerseyNumber -%}
          <span class="text-muted float-end">&nbsp;#{{ headshot.jerseyNumber }}</span>
        {%- endif -%}
      </h5>
      <p class="card-text">
        {{- headshot.title -}}
      </p>
      <h6 class="card-subtitle mb-2">
        <a href="/rosters/{{ headshot.roster.id }}">{{ headshot.roster.year }} {{ headshot.roster.teamName }}</a>
      </h6>
    </div>
  </div>
  <p>Are you sure you want to delete this headshot?</p>
  {{ form(form) }}
{% endblock %}
