{% extends "base.html.twig" %}

{% block title %}{{ 'rosterShow.title'|trans({'%season%': roster.year, '%team%': roster.teamName}) }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('rosterShow') }}
{% endblock %}

{% block body %}
  <h1>
    {{ 'rosterShow.title'|trans({'%season%': roster.year, '%team%': "<a href=\"/teams/"~team.slug~"\">"~roster.teamName~"</a>"})|raw }}
  </h1>
  {% if is_granted('ROLE_ADMIN') %}
    <p>
      <a href="/teams/{{ team.slug }}/{{ roster.year }}/new-headshot" class="btn btn-sm btn-success">
        <i class="i-upload"></i>
        Add headshot manually
      </a>
      or drag headshots below.

      <span style="width:200px" class="float-md-end">
        <select id="headshotRoleSelect" class="form-select form-select-sm" aria-label="Role selector for file upload">
          <option value="player">{{ 'rosterShow.players'|trans }}</option>
          <option value="staff">{{ 'rosterShow.staff'|trans }}</option>
        </select>
      </span>
    </p>

    <form action="{{ oneup_uploader_endpoint('headshots') }}" class="dropzone mb-3" id="headshotDropzone">
      <input type="hidden" name="rosterId" value="{{ roster.id }}">
      <input type="hidden" name="role" id="headshotRoleHiddenInput" value="player">
    </form>
  {% endif %}
  {% if roster.notes %}
    <p>{{ roster.notes }}</p>
  {% endif %}
  {% set roles = {
    'player': ('rosterShow.players'|trans),
    'staff': ('rosterShow.staff'|trans)
  }
  %}
  {% for role,role_title in roles %}
    <h2>{{ role_title }}</h2>
    <div class="row">
      {% set hasPrinted = false %}
      {% for headshot in headshots %}
        {% if headshot.role == role %}
          {% set hasPrinted = true %}
          <div class="col-lg-3 col-md-4 col-6">
            <div class="card mb-3 mx-auto">
              <a href="https://nyc3.digitaloceanspaces.com/{{ imageUrlInfix }}{{ headshot.filename }}" aria-label="{{ 'rosterShow.headshot_link_label'|trans }}">
                <img src="https://imgproxy.sportsarchive.net/sig/fit/300/0/ce/0/plain/s3://{{ imageUrlInfix }}{{ headshot.filename }}" class="card-img-top" alt="{{ 'rosterShow.headshot_alt'|trans({'%name%': headshot.personName}) }}">
              </a>
              <div class="card-body">
                <div class="h5 card-title">
                  {{- headshot.personName -}}
                  {%- if headshot.jerseyNumber -%}
                    <span class="text-muted float-end">&nbsp;#{{ headshot.jerseyNumber }}</span>
                  {%- endif -%}
                </div>
                <p class="card-text">
                  {{- headshot.title -}}
                </p>
                <a href="/search?q={{ headshot.personName | url_encode }}" class="btn btn-sm btn-primary">
                  <i class="i-search"></i> {{ 'general.search'|trans }}
                </a>
                {% if is_granted('ROLE_ADMIN') %}
                  <a href="/headshots/{{ headshot.id }}/edit" class="btn btn-sm btn-primary" title="{{ 'general.edit'|trans }}">
                    <i class="i-pen"></i>
                  </a>
                  <a href="/headshots/{{ headshot.id }}/delete" class="btn btn-sm btn-danger" title="{{ 'general.delete'|trans }}">
                    <i class="i-trash"></i>
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      {% if hasPrinted == false %}
        <p class="lead">{{ 'rosterShow.headshots_none'|trans }}</p>
      {% endif %}
    </div>
  {% endfor %}
  <p>{{ 'rosterShow.disclaimer'|trans|raw }}</p>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% if is_granted('ROLE_ADMIN') %}
    {{ encore_entry_script_tags('rosterShow') }}
  {% endif %}
{% endblock %}
