{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
  <img src="{{ asset('images/icon.svg') }}" style="width:10%;min-width:64px" class="float-md-end" alt="{{ 'base.logo_alt'|trans }}"/>
  <h1>About SportsArchive</h1>
  <p>Founded in {{ about.founded }}, SportsArchive is a website dedicated to archiving and preserving all things sports. Too often, teams and leagues are so focused on what's next that they don't preserve a history of what's past, or if they do, they don't make it easily accessible to the public. The goal of SportsArchive is to hold on to that history and make it easily browsable for all.</p>
  <p>SportsArchive is run by {{ about.creator.name }}. You can read more about Hayden on <a href="{{ about.creator.website }}">his personal website</a>.</p>

  <h2 id="contact"><i class="icon-fw i-comment"></i> Contact</h2>
  <ul class="icon-ul">
    <li>
      <span class="icon-li"><i class="i-envelope"></i></span>
      <a href="mailto:{{ about.email }}">{{ about.email }}</a>
    </li>
    <li>
      <span class="icon-li"><i class="i-twitter"></i></span>
      <a href="https://twitter.com/{{ about.twitter }}">{{ about.twitter }}</a>
      on Twitter
    </li>
    <li>
      <span class="icon-li"><i class="i-facebook"></i></span>
      <a href="https://www.facebook.com/{{ about.facebook }}/">{{ about.facebook }}</a>
      on Facebook
    </li>
  </ul>

  <h2 id="development"><i class="icon-fw i-cogs"></i> Development</h2>
  <p>The code that powers SportsArchive is free and open source software available under the MIT License. You can find it <a href="{{ about.sourceCode }}">on GitHub</a>. Credits and more license details can be found in the repository's readme.</p>
  <p>
    The to-do lists for this project are managed on Trello:
    {% for label,id in about.trello %}
      <a href="https://trello.com/b/{{ id }}">{{ label|capitalize }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
  </p>

  <h2 id="donate"><i class="icon-fw i-donate"></i> Donate</h2>
  <p>SportsArchive takes a lot of my time and has some server costs. If you'd like to support the project, you can toss a few bucks my way <a href="{{ about.donate }}">via PayPal</a>.</p>

  <h2 id="api"><i class="icon-fw i-code"></i> API</h2>
  <p>SportsArchive has a very basic JSON API. Please be warned: this API is <strong>very unstable</strong> and <strong>may change at any time</strong>. <a href="{{ path('main_about_api') }}">Click here to view the documentation.</a></p>

  <h2 id="how-it-works"><i class="icon-fw i-info-circle"></i> How this site works</h2>
  <p><strong>Disclaimer:</strong> This site is largely focused on U.S. and Canada sports, because cultural/language barriers prevent me from doing justice to foreign sports. I may make assertions on this page that are not true in the rest of the world.</p>
  <p>This site has its origins in a folder that once lived on my laptop simply called "soccer/", which held tons and tons of data meticulously sorted by team, then by what type of file it was. Now that I've published my hoarded data (and expanded into other sports), I've tried to organize it in a way that will perhaps make sense to people besides myself, but it hasn't strayed too far from its origins. I certainly would not claim my system is perfect, but it gets the job done.</p>
  <p>Every single file on this site is tied to either a team or an organization. A team represents well, a team that plays sports, and an organization represents just about any other entity (leagues, governing bodies, tournaments, conferences, etc). An organization is not necessarily a literal legally-distinct organization; it might also represent a concept or a brand (for example, the <a href="/orgs/us-open-cup">U.S. Open Cup</a> is not really its own organization – it's just a tournament put on by the <a href="/orgs/united-states-soccer-federation">U.S. Soccer Federation</a>. I created a separate organization for the U.S. Open Cup simply to avoid cluttering the USSF's page.) Really, in the backend of this site, there is little difference between a team and an organization; the distinction is there mainly because it seemed weird to have them mixed together.</p>
  <p>Currently, there are two types of files that can be attached to a team/organization: headshots and documents.</a>

  <h3>Headshots</h3>
  <p>Headshots are official portrait photographs of players and team staff. Most teams in most professional sports leagues take a headshot of every player each season; these are used for their website, their television broadcasts, and for other media uses.</p>
  <p>On this site, headshots can only be attached to teams (not organizations), and they are sorted into annual seasons. At the moment, headshots are only available for soccer teams for the most part. I've uploaded for a handful of baseball and football teams, but I do not have consistent access to headshots for non-soccer teams and I have not made it a priority for the time being.</p>
  <p>One thing that was important to me is that all headshots are uploaded at the absolutely maximum quality that is available to me. The season page shows low-res thumbnail versions of each headshot, but if you click on the thumbnail, you can see the headshot in maximum quality (often many megapixels and many megabytes – the thumbnail versions are necessary to avoid slow load times and exorbitant bandwidth costs). Note however, that I do not always have a high-quality source for the headshots; in fact, some headshots are shockingly low-quality. In all cases, the version that is on the site is the best version I have.</p>

  <h3>Documents</h3>
  <p>Documents are the main focus of this site, and they can include just about anything. There are PDFs, images, spreadsheets, Word documents, ZIP files, and more in our documents section.</p>
  <p>I have made a significant effort to have a universal organization system for all documents for all teams/organizations. All documents must be placed in one of just a few categories, and all teams/organizations use the same set of categories. This means that occasionally, a file might be sorted in a slightly unorthodox way, or our naming scheme might contradict the names used by the organization (e.g. the Tennessee Volunteers men's basketball <a href="https://www.sportsarchive.net/documents/10705">&quot;2023-24 Record Book&quot;</a> is actually classified as a &quot;media guide&quot; on this site).</p>
  <p>Some of the categories on this site have a very precise definition, and all documents in that category will follow a semi-strict naming scheme; other categories are a bit more open-ended. Here's a list of all the document categories and what they're used for:</p>
  <ul>
    <li><strong>Branding</strong> – This is a more open-ended category, and it's used for anything related to branding, logos, identity, etc. Many organizations create a document called a "brand book" or a "brand guide" which details their entire brand identity; their colors, their name, all the variants of their logos, etc. Besides being a useful informational guide, these brand guides are often provided as a PDF, and in many cases, it is possible to use software such as Inkscape or Adobe Illustrator to extract vector logo files from these brand guides. Vector files are essentially the highest-possible-quality versions of a logo that can exist, so if you are looking for the best versions of logos, brand guides are the place to get them.</li>
    <li><strong>Directories</strong> – This is a relatively rare category on the site. Some leagues publish a directory of all their contacts for media or other purposes. Generally, files in this category will simply be named with the year/season that they were released for.</li>
    <li><strong>Fact sheets</strong> – A brief overview document about an upcoming season or any other topic. Sometimes these can be similar to media guides, but they are generally much shorter.</li>
    <li><strong>Game notes</strong> – This is a big one. In many sports and many leagues, teams will publish "game notes" or "match notes" before every single game/match. The primary audience for game notes is media outlets that are going to cover that game/match. Some teams will make game notes easily available to the public via their website; other teams hold these documents close to their chest, and will only email them to trusted media outlets. These documents contain a wealth of information about exactly what the team is doing at that moment in the season; they can include statistics, information blurbs, rosters, lineups, and more. Typically on this site, these files are named with the date followed by the opposing team's name (e.g. "2020-03-10 FC Cincinnati").</li>
    <li><strong>Legal documents</strong> – Another rare category. This is a fuzzy, open-ended category for policy documents or legal agreements (e.g. player contracts, collective bargaining agreements, by-laws, etc).</li>
    <li><strong>Media guides</strong> – Media guides are perhaps the most interesting category on this website. At the beginning of each season, many teams and organizations publish a comprehensive document called a media guide. Much like game notes, these are primarily meant for media outlets, and may or may not be readily available to the general public. These can often be hundreds of pages long and go into great detail. They can include player bios, historical records and statistics, and just about anything else you might want to know going into a sports season. Generally, the title of these documents will simply be the year/season that they were released for. However, some teams/organizations will release additional media guides for special events; if that is the case, that will also be included in the title (e.g. "2018 postseason", "2021 draft", etc).</li>
    <li><strong>Miscellany</strong> – This is the most open-ended category. Any document I find that seems worth archiving, but doesn't fit into any of the other categories here, goes into this category. In most cases, I try to include the document's date in parentheses at the end of the title.</li>
    <li><strong>Press releases</strong> – A news bulletin published and written by an organization for media outlets to report on. On this site, press releases are labeled with the date, a colon (:), then the full title of the press release (e.g. "2006-08-08: Roger Goodell Named NFL Commissioner").</li>
    <li><strong>Programs</strong> – Programs are booklets given/sold to fans who attend a game. They often have some basic information about the team (rosters, schedules, etc) and also a lot of basic gameday/stadium information that fans might want.</li>
    <li><strong>Record books</strong> – A book of statistics and records from a team/organization's history. These are often coincident or conflated with media guides; on this site, the key distinction is that a media guide includes information about the current/recent/upcoming season, whereas a record book is just historical info.</li>
    <li><strong>Reports</strong> – Some organizations (especially educational institutions and non-profits) publish reports on an annual or other regular basis.</li>
    <li><strong>Rosters</strong> – Pretty straightforward: some teams provide their player roster as a PDF or spreadsheet, and update it each time their roster changes at all. These files are named with the exact date of the roster, if available (e.g. "2021-04-20").</li>
    <li><strong>Rule books</strong> – These are the official rule books for a sport released by leagues or governing bodies. These are generally named with just the year/season that the rule book is for. Some organizations release supplement documents with their rule books, such as a summary of changes since last season; these documents will also be included in this category. Note: In soccer, all FIFA-approved leagues (which is virtually all professional leagues and most major amateur ones too) are required to use the Laws of the Game as written by the <a href="/orgs/international-football-association-board">International Football Association Board</a> (IFAB). Many soccer leagues will release a referee manual or similar document, which provides additional details for referees and explains how that particular league chooses to handle some of the open-ended parts of the Laws of the Game. These referee manuals are included in the rule books category on this website.</li>
    <li><strong>Schedules</strong> – Not a terribly interesting category, but one of the biggest categories on this site because they are so ubiquitous. Many teams (and a few leagues) publish a nice version of their season schedule in a printable/poster format, usually as a PDF or image file. These are usually named with the year/season that they are for. Sometimes there will be additional special versions of the schedule, and these will also be uploaded with an appropriate name (e.g. "2019 promotions", "2020 home", "2021 pocket").</li>
    <li><strong>Season reviews</strong> – A handful of teams publish season reviews; these are much like media guides, but published at the end of the season instead of the beginning (or at the beginning of the following season).</li>
    <li><strong>Yearbooks</strong> – A book released at the end of a season for fans. Generally contains a lot of photos and promotional language.</li>
    <li><strong>Unsorted</strong> – This category is generally not used. If you see something here, it means I'm slacking!</li>
  </ul>

  <h4>Filenames</h4>
  <p>When you download a document, the filename will typically match the original name that the file had when I originally found it. Sometimes these filenames can provide a little bit of additional context about a file, such as a date or version number. However, if the file originally had a name that I deemed meaningless or unhelpful (e.g. <code>mwh9p8ielhs1y9iquiak.pdf</code>, <code>file.pdf</code>, etc), then I will typically rename it to something more descriptive before adding it to the site (typically this follows the format of "[team name] [description of file in lowercase]"; e.g. <code>Cincinnati Reds 2022 media guide.pdf</code>).</p>
  <p>Sometimes the filename will not be the original filename, strictly speaking, but it will be the result of whatever process I used to obtain the file. For example, if I encounter a website with hundreds of files I want – instead of manually downloading them all, I might write some code to download them. Depending on the specifics, I might make my code name each file after the label of the link to that file, or I might automatically generate filenames, or anything else that makes sense in that situation.</p>

  <h3>Other notes</h3>
  <p>One other point of interest on this site is logos. For every team/organization, I try to find a high-quality vector version of their logo, and upload it to the site as an SVG file. In many cases, I have created a vector version by tracing whatever images I could find online. I have also removed the trademark/reserved symbols from virtually all logos on the site. For soccer teams that sometimes add one or more stars above their logo to symbolize past championships, I will generally remove these stars. There are still a few raster (PNG) logos on the site, but I try to make them as rare as possible. In all cases, the logos on this site should be the best available version that exists on the internet.</p>

{% endblock %}
