{% extends "base.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<style>
/*** JUMBOTRON ***/
.home-jumbotron {
  background-color: #5f5b53; /* average color of the photo */
  background-image: url({{ asset('images/archive-photo.jpg') }});
  background-size: cover;
  background-repeat: none;
  background-position: center;
  color: white;
}
.home-jumbotron a {
  color: white;
}

/*** BROWSE BY SPORT ***/
.browse-container {
  columns: 280px 3;
}
.browse-box {
  break-inside: avoid;
}
.browse-logo {
  max-height: 20px;
  width: 20px;
}
.browse-name {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/*** STATS ***/
.background-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  font-size: 64px;
  color: #e8e8e8;
}
.count, .count-subtitle {
  position: relative;
  z-index: 1;
}
</style>
{% endblock %}

{% block body %}
  <div class="p-5 mb-5 rounded-3 home-jumbotron">
    <div class="container-fluid py-5">
      <div class="col-md-8">
        <h1 class="display-5 fw-bold">{{ 'home.heading'|trans }}</h1>
        <p class="fs-4 mb-4">{{ 'home.description'|trans }}</p>
        <p class="fs-4">{{ 'home.c2a'|trans|raw }}</p>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-xl-3 col-12">
      <h2 class="display-6">{{ 'home.browse_heading'|trans }}</h2>
      <p class="text-muted">{{ 'home.browse_description'|trans|raw }}</p>
    </div>
    <div class="col-xl-9 col-12 browse-container">
      {% for f in featured %}
        <div class="browse-box card mb-3">
          <h3 class="card-header h4">
            <i class="i-{{ f.icon }}"></i>
            {{ f.title }}
          </h3>
          <ul class="list-group list-group-flush">
            {% for o in f.orgs %}
              {% set orgSlug = (o is iterable) ? o[0] : o %}
              {% set org = (orgSlug in orgs|keys) ? orgs[orgSlug] : {slug: orgSlug, type: "orgs", name: orgSlug, logoUrl: "/images/placeholder-logo.svg"} %}
              {% set orgName = (o is iterable) ? o[1] : org.name %}
              <a href="{{ path('team_show', {slug: org.slug, type: org.type}) }}" class="list-group-item list-group-item-action">
                <img src="{{ org.logoUrl }}" alt="{{ org.name }} logo" class="browse-logo" />
                <span class="browse-name">{{ orgName }}</span>
              </a>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>

  <h2 class="text-center display-6">{{ 'home.collection_before'|trans }}</h2>
  <div class="row">
    <div class="col-6 col-lg-3 text-center">
      <div class="my-2 p-4">
        <div class="display-3 position-relative">
          <i class="i-file background-icon"></i>
          <span class="count">{{ stats.documentCount|format_number }}</span>
        </div>
        <div class="count-subtitle">{{ 'home.collection_documents'|trans }}</div>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="text-center my-2 p-4">
        <div class="display-3 position-relative">
          <i class="i-user-alt background-icon"></i>
          <span class="count">{{ stats.headshotCount|format_number }}</span>
        </div>
        <div class="count-subtitle">{{ 'home.collection_headshots'|trans }}</div>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="text-center my-2 p-4">
        <div class="display-3 position-relative">
          <i class="i-users background-icon"></i>
          <span class="count">{{ stats.teamCount|format_number }}</span>
        </div>
        <div class="count-subtitle">{{ 'home.collection_teams'|trans }}</div>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="text-center my-2 p-4">
        <div class="display-3 position-relative">
          <i class="i-building background-icon"></i>
          <span class="count">{{ stats.orgCount|format_number }}</span>
        </div>
        <div class="count-subtitle">{{ 'home.collection_orgs'|trans }}</div>
      </div>
    </div>
  </div>
  <div class="h1 text-center display-6 mb-5">{{ 'home.collection_after'|trans }}</div>
{% endblock %}
