{% extends "base.html.twig" %}

{% set cleanSport = sport ? ((sport == '_none') ? ('seasonList.noneSport'|trans) : sportInfo.names[sport]) : ('seasonList.allSports'|trans) %}

{% block title %}{{ 'seasonList.title'|trans }}: {{ cleanSport }}{% endblock %}

{% block body %}
  <h1>
    <a href="/seasons">{{ 'seasonList.title'|trans }}</a>: {{ cleanSport }}
  </h1>
  <ul>
    {% for season in seasons %}
      <li>
        <a href="/seasons/{{ sport ? sport : 'all' }}/{{ season.year }}">
          {{- season.year -}}
        </a>
        <span class="text-muted">({{ season.count }})</span>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
