{% extends "base.html.twig" %}

{% block title %}{{ 'seasonShow.title'|trans({'%season%': season}) }}{% endblock %}

{% block body %}
  <h1>
    <a href="/seasons/{% if sport %}{{ sport }}{% else %}all{% endif %}">
      {%- if sport -%}
        {{- sportInfo.capitalizedNames[sport] -}}
      {%- else -%}
        {{- 'seasonSportPicker.allSports'|trans -}}
      {%- endif -%}
    </a>:
    {{ 'seasonShow.title'|trans({'%season%': season}) }}
  </h1>
  <ul>
    {% for roster in rosters %}
      <li>
        <a href="/teams/{{ roster.team.slug }}/{{ roster.year }}">
          {{- roster.teamName -}}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
