{% extends "base.html.twig" %}

{% block title %}{{ 'seasonSportPicker.title'|trans }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
.sport-list li {
  list-style-type: none;
}
.sport-list i {
  display: block;
  font-size: 5rem;
}
.sport-list a {
  text-decoration: none;
}
.sport-list a span {
  text-decoration: underline;
}
</style>
{% endblock %}

{% block body %}
  <h1>{{ 'seasonSportPicker.title'|trans }}</h1>
  <ul class="sport-list row">
      <li class="col-xl-2 col-md-3 col-6 text-center mb-5">
        <a href="/seasons/all">
          <i class="i-star"></i>
          <span>{{ 'seasonSportPicker.allSports'|trans }}</span>
        </a>
      </li>
    {% for sc in sportCounts %}
      <li class="col-xl-2 col-md-3 col-6 text-center mb-5">
        <a href="/seasons/{{ sc.sport }}">
          <i class="i-{{ sportInfo.icons[sc.sport] }}"></i>
          <span>{{ sportInfo.capitalizedNames[sc.sport] }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
