{% extends "base.html.twig" %}

{% set cleanSport = sport ? sportInfo.capitalizedNames[sport] : ('seasonSportPicker.allSports'|trans) %}

{% block title %}{{ cleanSport }}: {{ 'seasonShow.title'|trans({'%season%': season}) }}{% endblock %}

{% block body %}
  <h1>
    <a href="/seasons/{{ sport ? sport : 'all' }}">
      {{- cleanSport -}}
    </a>:
    {{ 'seasonShow.title'|trans({'%season%': season}) }}
  </h1>
  <ul>
    {% for roster in rosters %}
      <li>
        <a href="/teams/{{ roster.team.slug }}/{{ roster.year }}">
          {{- roster.teamName -}}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
