{% extends "base.html.twig" %}

{% block title %}{{ 'search.resultsFor'|trans({'%query%': query}) }}{% endblock %}

{% block body %}
  <h1>
    {{ 'search.resultsFor'|trans({'%query%': query}) }}
  </h1>
  <div class="row">
    {% for team in teams %}
      <div class="col-xl-2 col-md-3 col-6 text-center mb-5 team">
        <a href="/teams/{{ team.slug }}">
          <img src="{{ team.logoUrl }}" style="height:100px; max-width:130px" class="mb-1 mx-auto d-block" alt="{{ team.name }} logo" />
          {{ team.name -}}
        </a>
        {% if is_granted('ROLE_ADMIN') %}
          <a href="/teams/{{ team.slug }}/edit" title="Edit">
            <i class="i-pen"></i>
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="row">
    {% for headshot in headshots %}
      <div class="col-lg-3 col-md-4 col-6">
        <div class="card mb-3 mx-auto">
          <a href="{{ headshot.fileUrl }}" aria-label="{{ 'rosterShow.headshot_link_label'|trans }}">
            <img src="{{ headshot.thumbnailUrl }}" class="card-img-top" alt="{{ 'rosterShow.headshot_alt'|trans({'%name%': headshot.personName}) }}">
          </a>
          <div class="card-body">
            <div class="h5 card-title">
              {{- headshot.personName -}}
              {%- if headshot.jerseyNumber -%}
                <span class="text-muted float-end">&nbsp;#{{ headshot.jerseyNumber }}</span>
              {%- endif -%}
            </div>
            <p class="card-text">
              {{- headshot.title -}}
            </p>
            <div class="h6 card-subtitle mb-2">
              <a href="/rosters/{{ headshot.roster.id }}">
                {{ headshot.roster.year }} {{ headshot.roster.teamName }}
              </a>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
              <a href="/headshots/{{ headshot.id }}/edit" class="btn btn-sm btn-primary" title="{{ 'general.edit'|trans }}">
                <i class="i-pen"></i>
              </a>
              <a href="/headshots/{{ headshot.id }}/delete" class="btn btn-sm btn-danger" title="{{ 'general.delete'|trans }}">
                <i class="i-trash"></i>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% if not teams and not headshots %}
    <p class="lead">{{ 'search.noResults'|trans }}</p>
  {% endif %}
{% endblock %}
