{% extends "base.html.twig" %}

{% block title %}{{ 'search.resultsFor'|trans({'%query%': query}) }}{% endblock %}

{% block body %}
  <h1>
    {{ 'search.resultsFor'|trans({'%query%': query}) }}
  </h1>
  <div class="row">
    {% for result in teamResults %}
      <div class="col-xl-2 col-md-3 col-6 text-center mb-5 team">
        <a href="/teams/{{ result.team.slug }}">
          <img src="{{ result.team.logoUrl }}" class="mb-1 mx-auto team-list-logo" alt="{{ result.team.name }} logo" />
          {{ result.team.name -}}
        </a>
        {# <div class="team-list-caption text-secondary">
          {%- if result.names is not empty -%}
            (
            {{- result.names|map(n => n.name)|join(', ') -}}
            )
          {%- endif -%}
        </div> #}
        {% if is_granted('ROLE_ADMIN') %}
          <a href="/teams/{{ result.team.slug }}/edit" title="Edit">
            <i class="i-pen"></i>
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="row">
    {% for headshot in headshots %}
      <div class="col-lg-3 col-md-4 col-6">
        <div class="card mb-3 mx-auto">
          <a href="{{ headshot.fileUrl }}" aria-label="{{ 'rosterShow.headshot_link_label'|trans }}">
            <img src="{{ headshot.thumbnailUrl }}" class="card-img-top" alt="{{ 'rosterShow.headshot_alt'|trans({'%name%': headshot.personName}) }}">
          </a>
          <div class="card-body">
            <div class="h5 card-title clearfix">
              <div class="float-start">{{ headshot.personName }}</div>
              {%- if headshot.jerseyNumber is not null -%}
                <div class="text-muted float-end">&nbsp;#{{ headshot.jerseyNumber }}</div>
              {%- endif -%}
            </div>
            <p class="card-text">
              {{- headshot.title -}}
            </p>
            <div class="h6 card-subtitle mb-2">
              <a href="/rosters/{{ headshot.roster.id }}">
                {{ headshot.roster.year }} {{ headshot.roster.teamName }}
              </a>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
              <a href="/headshots/{{ headshot.id }}/edit" class="btn btn-sm btn-primary" title="{{ 'general.edit'|trans }}">
                <i class="i-pen"></i>
              </a>
              <a href="/headshots/{{ headshot.id }}/delete" class="btn btn-sm btn-danger" title="{{ 'general.delete'|trans }}">
                <i class="i-trash"></i>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% if not teamResults and not headshots %}
    <p class="lead">{{ 'search.noResults'|trans }}</p>
  {% endif %}
{% endblock %}
