<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ 'base.site'|trans }}{% endblock %}</title>
    <meta name="robots" content="index,follow" />

    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1EQ03HHJPH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-1EQ03HHJPH');
    </script>
  </head>
  <body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="{{ asset('images/icon.svg') }}" alt="{{ 'base.logo_alt'|trans }}" width="24" height="24" class="d-inline-block align-text-top">
          {{ 'base.site'|trans }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ 'base.toggleNavigation'|trans }}">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/teams">{{ 'base.nav_teams'|trans }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/orgs">{{ 'base.nav_orgs'|trans }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/documents">{{ 'base.nav_documents'|trans }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/seasons">{{ 'base.nav_seasons'|trans }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">{{ 'base.nav_about'|trans }}</a>
            </li>
            {#<li class="nav-item">
              {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="nav-link" href="/logout">Log out</a>
              {% else %}
                <a class="nav-link" href="/login">Log in</a>
              {% endif %}
            </li>#}
          </ul>

          <form class="d-flex" action="/search">
            <input id="mainSearch" class="form-control me-2" type="search" name="q" autocomplete="off" placeholder="{{ 'general.search'|trans }}" aria-label="{{ 'general.search'|trans }}">
            <button class="btn btn-outline-primary" type="submit" title="{{ 'general.search'|trans }}">
              <i class="i-search"></i>
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div class="bg-white pt-2 pb-3">
      <main class="container">
        {% block body %}{% endblock %}
      </main>
    </div>

    <footer class="text-light py-3">
      <div class="container">
        <div>
          {{ 'base.copyright'|trans({'%year%': ('now' | date('Y'))}) }}
          <div class="fs-4">
            <a class="footer-social-icon" href="mailto:haydenschiff@gmail.com" title="{{ 'base.footer_email'|trans }}">
              <i class="i-envelope"></i>
            </a>
            <a class="footer-social-icon" href="https://twitter.com/SportsArchive0" title="{{ 'base.footer_twitter'|trans }}">
              <i class="i-twitter"></i>
            </a>
            <a class="footer-social-icon" href="https://www.facebook.com/SportsArchive0/" title="{{ 'base.footer_facebook'|trans }}">
              <i class="i-facebook"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
