<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}SportsArchive{% endblock %}</title>
    <meta name="robots" content="index,follow" />

    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/fontawesome.min.css') }}" rel="stylesheet"/>
    {% block stylesheets %}{% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1EQ03HHJPH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-1EQ03HHJPH');
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="{{ asset('images/icon.svg') }}" alt="logo" width="24" height="24" class="d-inline-block align-text-top">
          SportsArchive
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/teams">Teams</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/orgs">Organizations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/seasons">Headshots</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="nav-link" href="/logout">Log out</a>
              {% else %}
                <a class="nav-link" href="/login">Log in</a>
              {% endif %}
            </li>
          </ul>

          <form class="d-flex" action="/search">
            <input id="mainSearch" class="form-control me-2" type="search" name="q" autocomplete="off" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <main class="container">
      {% block body %}{% endblock %}
    </main>

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('js/autocomplete.js') }}"></script>
    {% block javascripts %}{% endblock %}
    <script>
    var autocompleter = new Autocomplete(document.getElementById('mainSearch'), {
        data: [],
        label: "name",
        value: "slug",
        maximumItems: 8,
        onSelectItem: function(item) {
            window.location.href = "/teams/" + item.value;
        }
    });
    $.ajax('/teams.json', {
      success: function(data) {
        autocompleter.setData(data.teams);
      }
    });
    </script>
  </body>
</html>
