{% extends "base.html.twig" %}

{% block title %}{{ 'documentList.title'|trans }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
#documentsTable {
  max-height: 80vh;
}
</style>
{% endblock %}

{% block body %}
  <h1>{{ 'documentList.title'|trans }}</h1>
  <noscript>
    <div class="alert alert-warning" role="alert">
      {{ 'general.noscript'|trans }}
    </div>
  </noscript>
  <div id="documentsTable" {{ stimulus_controller('document-list', { 'categories': documentInfo.categories }) }}></div>
{% endblock %}