{% extends "base.html.twig" %}

{% block title %}{{ 'documentShow.title'|trans({'%title%': document.title, '%team%': document.team.name, '%category%': (document.category|replace({'-': ' '})) }) }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
.embed-image {
  max-height: 600px;
  display: block;
}
.pdf-wrapper {
  position: relative;
  padding-bottom: 60%;
}
.pdf-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.document-metadata th {
  max-width: 2em;
}
</style>
{% endblock %}

{% block body %}
  <div class="h5 mb-0">
    <a href="/teams/{{ document.team.slug }}">{{ document.team.name }}</a>
    {{ document.category|replace({'-': ' '}) }}
  </div>
  <h1>
    {{ document.title }}
  </h1>
  {% if is_granted('ROLE_ADMIN') %}
    <a href="/documents/{{ document.id }}/edit" class="btn btn-sm btn-primary mb-3">
      <i class="i-pen"></i>
      {{ 'general.edit'|trans }}
    </a>
    <a href="/documents/{{ document.id }}/delete" class="btn btn-sm btn-danger mb-3">
      <i class="i-trash"></i>
      {{ 'general.delete'|trans }}
    </a>
  {% endif %}
  <div class="mb-3 border border-5 rounded bg-dark">
    {% if document.fileExtension in ['pdf'] %}
      <div class="pdf-wrapper">
        <iframe src="/pdfjs/web/viewer.html?file=/documents/{{ document.id }}/download"></iframe>
      </div>
    {% elseif document.fileExtension in ['png', 'jpg', 'jpeg', 'gif', 'webp', 'tif', 'bmp', 'svg'] %}
      <img src="{{ document.fileUrl }}" class="embed-image img-fluid mx-auto" />
    {% else %}
      <div class="p-5 text-white display-5 text-center">
        {{ 'documentShow.noPreview'|trans }}
      </div>
    {% endif %}
  </div>
  <div class="float-md-end">
    <a href="{{ document.fileUrl }}" class="btn btn-success btn-lg mb-3">
      <i class="i-download"></i>
      {{ 'documentShow.download'|trans }}
    </a>
  </div>
  <div class="col-md-6 document-metadata">
    <table class="table table-bordered">
      <tr>
        <th>{{ 'documentShow.fileType'|trans }}</th>
        <td>
          <i class="{{ _self.getFileIcon(document.fileExtension) }}"></i>
          {{ document.fileExtension|upper }}
        </td>
      </tr>
      <tr>
        <th>{{ 'documentShow.fileSize'|trans }}</th>
        <td>{{ _self.bytesToSize(fileSize) }}</td>
      </tr>
      <tr>
        <th>{{ 'documentShow.language'|trans }}</th>
        <td>{{ document.language|language_name|default("general.noLanguage"|trans) }}</td>
      </tr>
      <tr>
        <th>{{ 'documentShow.notes'|trans }}</th>
        <td>{{ document.notes }}</td>
      </tr>
    </table>
  </div>
{% endblock %}

{% macro getFileIcon(ext) %}
{% apply spaceless %}
  {% set fileIcons  = {
    'pdf': 'i-file-pdf',
    'zip': 'i-file-archive',
    'rar': 'i-file-archive',
    'gz': 'i-file-archive',
    'doc': 'i-file-word',
    'docx': 'i-file-word',
    'odt': 'i-file-word',
    'fodt': 'i-file-word',
    'ppt': 'i-file-powerpoint',
    'pptx': 'i-file-powerpoint',
    'odp': 'i-file-powerpoint',
    'fodp': 'i-file-powerpoint',
    'xls': 'i-file-excel',
    'xlsx': 'i-file-excel',
    'ods': 'i-file-excel',
    'fods': 'i-file-excel',
    'csv': 'i-file-csv',
    'json': 'i-file-code',
    'html': 'i-file-code',
    'htm': 'i-file-code',
    'txt': 'i-file-alt',
    'rtf': 'i-file-alt',
    'jpg': 'i-file-image',
    'jpeg': 'i-file-image',
    'png': 'i-file-image',
    'gif': 'i-file-image',
    'webp': 'i-file-image',
    'bmp': 'i-file-image',
    'tif': 'i-file-image',
    'svg': 'i-file-image',
    'eps': 'i-file-image',
    'psd': 'i-file-image',
    'xcf': 'i-file-image',
    'cr2': 'i-file-image',
    'odg': 'i-file-image',
    'fodg': 'i-file-image',
    'm4a': 'i-file-audio',
    'mp3': 'i-file-audio',
    'mka': 'i-file-audio',
    'wma': 'i-file-audio',
    'wav': 'i-file-audio',
    'opus': 'i-file-audio',
    'ogg': 'i-file-audio',
    'oga': 'i-file-audio',
    'mov': 'i-file-video',
    'mpg': 'i-file-video',
    'mpeg': 'i-file-video',
    'mp4': 'i-file-video',
    'avi': 'i-file-video',
    'webm': 'i-file-video',
    'mkv': 'i-file-video',
    'wmv': 'i-file-video',
    'ogv': 'i-file-video',
  }
  %}
  {{ ext in fileIcons|keys ? fileIcons[ext] : "i-file" }}
{% endapply %}
{% endmacro %}

{# https://stackoverflow.com/a/15303004/992504 #}
{% macro bytesToSize(bytes) %}
{% apply spaceless %}
    {% set kilobyte = 1024 %}
    {% set megabyte = kilobyte * 1024 %}
    {% set gigabyte = megabyte * 1024 %}
    {% set terabyte = gigabyte * 1024 %}

    {% if bytes < kilobyte %}
        {{ bytes ~ ' B' }}
    {% elseif bytes < megabyte %}
        {{ (bytes / kilobyte)|number_format(2, '.') ~ ' KiB' }}
    {% elseif bytes < gigabyte %}
        {{ (bytes / megabyte)|number_format(2, '.') ~ ' MiB' }}
    {% elseif bytes < terabyte %}
        {{ (bytes / gigabyte)|number_format(2, '.') ~ ' GiB' }}
    {% else %}
        {{ (bytes / terabyte)|number_format(2, '.') ~ ' TiB' }}
    {% endif %}
{% endapply %}
{% endmacro %}
