{% extends "base.html.twig" %}

{% block title %}{{ 'documentList.title'|trans }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('documentList') }}
{% endblock %}

{% block body %}
  <h1>{{ 'documentList.title'|trans }}</h1>
  <div id="documentsTable"></div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('documentList') }}
{% endblock %}
